<div id="home">

	<p style="text-align: center;"> Hello! </p>

	<div class="header">
		A Community United to Safeguard One of America’s Great River Basins
	</div>
	<div class="description">
		The Coalition for the Delaware River Watershed brings together organizations working to protect and restore the Delaware River, its tributaries and the thousands of square miles of forests, wetlands, farms, communities, and other distinctive landscapes found throughout the region. By working across the Basin, the Coalition can unite the voices and passions of groups of all sizes interested in preserving the watershed’s remarkable resources for the benefit of its wildlife, habitats, and residents.
	</div>
	<a href="#">Read More...</a>

		</br></br>Benefits of membership include:</br></br>

		Access
		<ul>
			<li>Contact with national & state Coalition members</li>
			<li>Opportunity to raise priorities to a broader audience</li>
			<li>Connection to national efforts/li>
		</ul>
		Resources
		<ul>
			<li>Larger tool box, including coalition resources & expertise</li>
			<li>Introduction to broader funding networks</li>
			<li>Opportunity for re-grants</li>
		</ul>

		<p style="text-decoration: underline;"> Impact: </p>
		By bringing together the voices of groups of all sizes, the Coalition can create outsized impacts
		for a wide range of issues affecting the protection and restoration of the watershed.

		<p style="text-decoration: underline;"> Mission: </p>
		The Mission of the Coalition for the Delaware River Watershed is to unite organizations and
		enhance their capacity to effectively advocate for protecting and restoring the Delaware River
		Basin by coordinating communications, messages, and actions and fostering accountability for
		success at the federal, state, and local levels.

		<p style="text-decoration: underline;"> For More Information, Contact: </p>
		Kim Beidler
		Project Coordinator
		Coalition for the Delaware River Watershed
		204 West State Street
		Trenton, NJ 08608
		Ph: 609.392.1182
		Email: kim.beidler@njaudubon.org

</div>
