<div id="home">

	<div class="description">
		The Coalition was formed to raise awareness of the Watershed by bringing together local,
		regional, state, and national partners committed to seeking improved Watershed policies and
		protection.
	</div>

	<p style="background: #cacaca; font-weight: bold;"> 
		The mission of the Coalition for the Delaware River Watershed is to unite organizations and enhance their capacity to effectively advocate for protecting and restoring the Delaware River Basin by coordinating communications, messages, and actions and fostering accountability for success at the federal, state, and local levels.  
	</p>

	<p>
		<h2>How We Work</h2>
		The Coalition is guided by a Steering Committee made up of local, regional and national organizations.  The Steering Committee meets monthly via conference calls and in-person meetings that are open to all Coalition members. Click here for a list of current Steering Committee members and meeting schedule. (hyperlink to page with a list of Steering Committee members, including logos, short write-ups, and links to their websites and Facebook pages; meeting schedule is on events page) 
		The Coalition also has subcommittees made up of representatives from the Steering Committee and other Coalition members to explore certain issues in-depth and provide recommendations to the Coalition.
	</p>

		<p style="text-decoration: underline;"> For More Information, Contact: </p>
		Kim Beidler</br>
		Project Coordinator</br>
		Coalition for the Delaware River Watershed</br>
		204 West State Street</br>
		Trenton, NJ 08608</br>
		Ph: 609.392.1182</br>
		Email: kim.beidler@njaudubon.org</br>

</div>

<div id="steering">	
	<h1>Steering Committee</h1>

	<p style="font-style: italic; margin-bottom: 20px;">
		The Coalition is guided by a Steering Committee made up of local, regional and national
		organizations. Steering Committee meetings and conference calls are open to all Coalition
		members. The following organizations are members of the Steering Committee:
	</p>

	</br></br>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.littoralsociety.org/">American Littoral Society</a></div>
		<img src="/assets/ALS_logo.png" />
		<div class="info">Representative: Tim Dillingham</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.americanrivers.org/">American Rivers</a></div>
		<img src="/assets/AR_logo.png" />
		<div class="info">Representative: Laura Craig</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.pennfuture.org/">Citizens for Pennsylvania’s Future</a></div>
		<img src="/assets/PF_logo.png" />
		<div class="info">Representative: Joy Bergey</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://delawarenaturesociety.org/">Delaware Nature Society</a></div>
		<img src="/assets/DNS_logo.png" />
		<div class="info">Representative: Ginger North</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.delawarehighlands.org/">Delaware Highlands Conservancy</a></div>
		<img src="/assets/DHC_logo.png" />
		<div class="info">Representative: Sue Currier</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.delawareriverkeeper.org/">Delaware Riverkeeper Network</a></div>
		<img src="/assets/DRN_logo.png" />
		<div class="info">Representative: Maya van Rossum</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.ducks.org/">Ducks Unlimited</a></div>
		<img src="/assets/DU_logo.png" />
		<div class="info">Representative: Bernie Marczyk</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://fudr.org/">Friends of the Upper Delaware</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Dan Plummer</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.npca.org/">National Parks Conservation</br>Association</a></div>
		<img src="/assets/NPCA_logo.png" />
		<div class="info">Representative: Cinda Waldbuesser</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.nwf.org/">National Wildlife Federation</a></div>
		<img src="/assets/NWF_logo.png" />
		<div class="info">Representative: Tony Caligiuria</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.njaudubon.org/">New Jersey Audubon Society</a></div>
		<img src="/assets/NJA_logo.png" />
		<div class="info">Representative: Kelly Mooij</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://delawareestuary.org/">Partnership for the Delaware</br>Estuary</a></div>
		<img src="/assets/PDE_logo.png" />
		<div class="info">Representative: Jen Adkins</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.pecpa.org/">Pennsylvania Environmental Council</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Rebecca Kennedy</div>
		</div>
	</div>
</div>