<div id="home">

	<div class="img_header">
		<img src="/assets/combined.png" />
	</div>

	<p class="heading"> 
		The Coalition for the Delaware River Watershed brings together diverse organizations interested in protecting and restoring the Delaware River, its tributaries, and the more than 12,000 square miles of surrounding forests, wetlands, farms, communities, and other distinctive landscapes. We are a diverse community, working together across four states, to safeguard one of America’s most vibrant and important resources.
	</p>

	<h1>
		Why We Care About the Watershed
	</h1>

	<div class="description">
		The Delaware River is the longest undammed river east of the Mississippi, traveling 300 miles from its
		headwaters in Hancock, NY down to the Delaware Estuary and Bay. The Watershed spans New York,
		Pennsylvania, New Jersey, and Delaware—through one of the most densely populated areas of the mid-
		Atlantic region—and is a vital component of the National Wild and Scenic River System in the Northeast.
		It boasts roughly one million acres of wetlands, and about fifty percent of its land area is forested.
		Within the Watershed’s boundaries are six National Wildlife Refuges and the Delaware Estuary is one of
		the most important shorebird migration sites in the world. This vast river system not only provides vital
		habitats for a rich variety of fish and wildlife species, but it's also home to more than 8 million people.
		In all, about 16 million depend on the Watershed for their economic livelihoods, clean drinking water,
		and as a beautiful place for recreation. </br></br>

		This national treasure is remarkable for its wealth of natural resources, but it remains vulnerable to
		environmental threats. That’s why we formed the Coalition. By uniting groups across the region, we are
		creating a cleaner, healthier Watershed for generations to come.
	</div>

	<h1>
		A Community United to Safeguard One of America’s Great River Basins
	</h1>

	<div class="description">
		The Coalition for the Delaware River Watershed brings together organizations working to protect and restore the Delaware River, its tributaries and the thousands of square miles of forests, wetlands, farms, communities, and other distinctive landscapes found throughout the region. By working across the Basin, the Coalition can unite the voices and passions of groups of all sizes interested in preserving the watershed’s remarkable resources for the benefit of its wildlife, habitats, and residents.
	</div>


	<div class="feat_mem">
		<h2> Featured Member </h2>
		<img src="/assets/NJA_logo_wide.gif" />
		<h3> New Jersey Audubon Society </h3>
	</div>

	<div class="feat_news">
		<h2> Recent News </h2>
		<img src="/assets/NJA_logo_wide.gif" />
		<h3> New Jersey Audubon Society </h3>
	</div>

	<div class="benefits_contact">
		<div class="benefits">
			<h2>Benefits of membership include:</h2>

			Access
			<ul>
				<li>Contact with national & state Coalition members</li>
				<li>Opportunity to raise priorities to a broader audience</li>
				<li>Connection to national efforts/li>
			</ul>
			Resources
			<ul>
				<li>Larger tool box, including coalition resources & expertise</li>
				<li>Introduction to broader funding networks</li>
				<li>Opportunity for re-grants</li>
			</ul>
		</div>

		<div class="contact">
			<h2> For More Information: </h2>
			Kim Beidler</br>
			Project Coordinator</br>
			Coalition for the Delaware River Watershed</br>
			204 West State Street</br>
			Trenton, NJ 08608</br>
			Ph: 609.392.1182</br>
			Email: kim.beidler@njaudubon.org</br>
		</div>
	</div>

</div>
