<div id="home">

	<div class="img_header">
		<img src="/assets/combined.png" />
	</div>

	<h1>
		A Community United
	</h1>

	<div class="heading"> 
		<div class="heading_content">
			<span class="large">The Coalition for the Delaware River Watershed</span> brings together diverse organizations interested in protecting and restoring the Delaware River, its tributaries, and the more than 12,000 square miles of surrounding forests, wetlands, farms, communities, and other distinctive landscapes.</br></br> We are a diverse community, working together across four states, to safeguard one of America’s most vibrant and important resources.
		</div>
		
			<img class="group_photo" src="/assets/FUDR.jpg" />
	</div>

	<h1>
		Why We Care
	</h1>

	<div class="description">
		The Delaware River is the longest undammed river east of the Mississippi, traveling 300 miles from its
		headwaters in Hancock, NY down to the Delaware Estuary and Bay. The Watershed spans New York,
		Pennsylvania, New Jersey, and Delaware—through one of the most densely populated areas of the mid-
		Atlantic region—and is a vital component of the National Wild and Scenic River System in the Northeast.
		It boasts roughly one million acres of wetlands, and about fifty percent of its land area is forested.
		Within the Watershed’s boundaries are six National Wildlife Refuges and the Delaware Estuary is one of
		the most important shorebird migration sites in the world. This vast river system not only provides vital
		habitats for a rich variety of fish and wildlife species, but it's also home to more than 8 million people.
		In all, about 16 million depend on the Watershed for their economic livelihoods, clean drinking water,
		and as a beautiful place for recreation. </br></br>

		This national treasure is remarkable for its wealth of natural resources, but it remains vulnerable to
		environmental threats. That’s why we formed the Coalition. By uniting groups across the region, we are
		creating a cleaner, healthier Watershed for generations to come.
	</div>



	<div class="featured">
		<div class="feat_mem">
			<h2 style="color: #222;"> Featured Member </h2>
			<img src="/assets/AMRLogo.jpg" />
			<h3> American Rivers </h3>
			<p>
				American Rivers is the leading organization working to protect and restore the nation’s rivers and streams. Rivers connect us to each other, nature, and future generations. Since 1973, American Rivers has fought to preserve these connections, helping protect and restore more than 150,000 miles of rivers through advocacy efforts, on-the-ground projects, and the annual release of America’s Most Endangered Rivers®.
			</p>
		</div>

		<div class="feat_news">
			<h2 style="color: #222;"> Recent News </h2>
			<p>
				The Coalition’s Steering Committee meets monthly via conference calls and in-person meetings.  Calls and meetings are open to all Coalition members.  Upcoming calls and meetings are scheduled for: </p>
			<ul>
				<li>February 27, 2013 (in-person meeting; location TBD)</li>
				<li>March 27, 2013</li>
				<li>April 24, 2013</li>
			</ul>
		</div>
	</div>

	<div class="contact">
		<h2> For More Information: </h2>
		<h4>Kim Beidler</h4>
		Project Coordinator</br>
		Coalition for the Delaware River Watershed</br>
		204 West State Street</br>
		Trenton, NJ 08608</br>
		Ph: 609.392.1182</br>
		Email: <a href="mailto:kim.beidler@njaudubon.org">kim.beidler@njaudubon.org</a>
	</div>


</div>
