<div id="home">

	<div class="img_header">
		<img src="/assets/combined.png" />
	</div>

	<img style="width: 1158px; margin-left: -75px; margin-top: -60px;" src="/assets/swatch.jpg" />

	<div class="intro">
		<h1>
			A Community United
		</h1>
		<p style="width: 400px; float: left;">
			The Coalition for the Delaware River Watershed brings together organizations interested in protecting and restoring the Delaware River, its tributaries, and the more than 12,000 square miles of surrounding forests, wetlands, communities, and other distinctive landscapes.</br></br> We are a diverse community, working together across four states, to safeguard one of America’s most vibrant and important resources.
		</p>

		<img class="group_photo" src="/assets/FUDR.jpg" />

		<h1>
			Why We Care
		</h1>
		<p>
			The Delaware River is the longest undammed river east of the Mississippi, traveling 300 miles from its headwaters in Hancock, NY down to the Delaware Estuary and Bay.  The Watershed spans New York, Pennsylvania, New Jersey, and Delaware—through one of the most densely populated areas of the mid-Atlantic region.  Within the Watershed’s boundaries are roughly one million acres of wetlands and about 50 percent is forested.  Significant ecological and recreational assets include the Delaware Water Gap National Recreation Area – one of the country’s most visited national parks, the more than 400 miles of waterways designated under the National Wild and Scenic Rivers program, six National Wildlife Refuges, and the highly complex Delaware Estuary, one of the most important shorebird migration sites in the world.  This vast river system not only provides vital habitats for a rich variety of fish and wildlife species, but it's also home to more than eight million residents, provides drinking water to another eight million people living outside its boundaries, and is critical to the economic well-being of the mid-Atlantic region.

			</br></br>

			This national treasure is remarkable for its wealth of natural resources, but it remains vulnerable to environmental threats.  That’s why the Coalition was formed.   By uniting groups across the region,  the Coalition is creating a cleaner, healthier Watershed for generations to come.
		</p>
	</div>

	<div class="featured">
		<div class="feat_item">
			<h2> Featured Member </h2>
			<img src="/assets/AMRLogo.jpg" />
			<h3> American Rivers </h3>
			<p>
				American Rivers is the leading organization working to protect and restore the nation’s rivers and streams. Rivers connect us to each other, nature, and future generations. Since 1973, American Rivers has fought to preserve these connections, helping protect and restore more than 150,000 miles of rivers through advocacy efforts, on-the-ground projects, and the annual release of America’s Most Endangered Rivers®.
			</p>
		</div>

		<div class="feat_item" style="margin-left: 40px;">
			<h2> For More Information: </h2>
			<h4>Kim Beidler</h4>
			<p>
				Project Coordinator</br>
				Coalition for the Delaware River Watershed</br>
				204 West State Street</br>
				Trenton, NJ 08608</br>
				Ph: 609.392.1182</br>
				Email: <a href="mailto:kim.beidler@njaudubon.org">kim.beidler@njaudubon.org</a>
			</p>
		</div>
	</div>

</div>
