<div id="page_head">
	<div class="title"> Membership </div>
</div>

<div id="membership">

	<p>
		The Coalition for the Delaware River Watershed is made up of diverse organizations working throughout the four-state Delaware River Watershed, including land trusts and conservancies, watershed associations, educational centers, and outdoor recreation and sporting interests. Members range in size and reach
		from local groups on the frontlines of Watershed protection to organizations that work on regional,
		state and national levels. Membership is growing quickly with new organizations joining all the time.
	</p>

	<h1>Who can become a member?</h1> 
	<p>
		Membership is open to regional, state, local, and national non-
		governmental organizations committed to seeking improved Delaware River Watershed policy
		and protection. There are no membership fees or dues.
	</p>

		</br>
		</br>
	
	<h1>Benefits of membership:</h1> 

	<div class="benefits">
		<p>
			The Coalition adds value to our members through advocacy and policy support, communications
			assistance, and information sharing and networking. In return, we leverage the diverse knowledge,
			talents and power of our members, using a united front to inform and educate decisionmakers
			throughout the Watershed.
		</p>

		<div class="lists">
			<ul>
				<li>Links to organizations working throughout the watershed - locally, regionally and nationally</li>
				<li>Access to coordinated advocacy efforts, including sign-on letters and outreach to decision-makers</li>
				<li>Updates on news and events throughout the Watershed</li>
				<li>Opportunity to raise the profile of issues related to the Delaware River Watershed</li>
			</ul>
		</div>
	</div>
		
	<img style="width: 450px; margin-left: 80px;" src="/assets/membership.jpg" />
	
	<div style="text-align: center; margin-top: 80px;">
		<h2>How to join:</h2> To become a member of the Coalition, fill out this <%= link_to 'form',"/main/signup" %>
	</div>

	<div class="members">
		<h1> Current Members: </h1>

		<div class="row">
			<div class="sc_member">
			<div class="title"><a href="http://www.outdoors.org/">Appalachian Mountain Club</a></div>
			<img src="/assets/AMC_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.fedflyfishers.org/">Federation of Fly Fishers, Northeast Council</a></div>
			<img src="/assets/FFF_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.audubon.org/">National Audubon Society</a></div>
			<img src="/assets/AU_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.natlands.org/">Natural Lands Trust</a></div>
			<img src="/assets/NLT_logo.png" />
			<div class="info"></div>
			</div>
		</div>

		<div class="row">
			<div class="sc_member">
			<div class="title"><a href="http://nurturenaturecenter.org/">Nuture Nature Center in Easton PA</a></div>
			<img src="/assets/NNC_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.pennypacktrust.org/">Pennypack Ecological Restoration Trust</a></div>
			<img src="/assets/PERT_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.wildtroutflyrodders.org/">Wild Trout Flyrodders</a></div>
			<img src="/assets/WTF_logo.png" />
			<div class="info"></div>
			</div>	

			<div class="sc_member">
			<div class="title"><a href="http://wildlandspa.org/">Wildlands Conservancy</a></div>
			<img src="/assets/WC_logo.png" />
			<div class="info"></div>
			</div>
		</div>	
	</div>
</div>