<div id="page_head">
	<div class="title"> Membership </div>
</div>

<div id="membership">

	<p>
		The Coalition is made up of numerous organizations working throughout the four-state Delaware River
		Watershed to protect and restore one of America’s great river basins. Members range in size and reach
		from local groups on the frontlines of Watershed protection to organizations that work on regional,
		state and national levels. Membership is growing quickly with new organizations joining all the time.
		Click here for a list of Coalition members. (hyperlink to page with list of members that includes links to
		each website)
	</p>

	<h2>Who can become a member?</h2> Membership is open to all regional, state, local, and national non-
	governmental organizations committed to seeking improved Delaware River Watershed policy
	and protection. There are no membership fees or dues.

		</br>
		</br>
	
	<h2>Benefits of membership:</h2> 
	The Coalition adds value to our members through advocacy and policy support, communications
	assistance, and information sharing and networking. In return, we leverage the diverse knowledge,
	talents and power of our members, using our collective voice to inform and educate decisionmakers
	throughout the Watershed.

	<div class="lists">
		<div class="access">
			<h4 style="text-decoration: underline;">Access:</h4>
			<ul>
				<li>Contact with national & state Coalition members</li>
				<li>Opportunity to raise priorities to a broader audience</li>
				<li>Connection to national efforts</li>
			</ul>
		</div>

		<div class="benefits">
			<h4 style="text-decoration: underline;">Resources:</h4>
			<ul>
				<li>Larger tool box, including coalition resources & expertise</li>
				<li>Introduction to broader funding networks</li>
				<li>Opportunity for re-grants</li>
			</ul>
		</div>
	</div>
		

	<h2>How to join:</h2> It’s easy! Just fill out this <%= link_to 'form',"/main/signup" %>

	<div class="members">
		<h2> Current Members: </h2>

		<div class="row">
			<div class="sc_member">
			<div class="title"><a href="http://www.fedflyfishers.org/">Federation of Fly Fishers, Northeast Council</a></div>
			<img src="/assets/FFF_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.audubon.org/">National Audubon Society</a></div>
			<img src="/assets/AU_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.natlands.org/">Natural Lands Trust</a></div>
			<img src="/assets/NLT_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.wildtroutflyrodders.org/">Wild Trout Flyrodders</a></div>
			<img src="/assets/WTF_logo.png" />
			<div class="info"></div>
			</div>
		</div>

		<div class="row">
			<div class="sc_member">
			<div class="title"><a href="http://nurturenaturecenter.org/">Nuture Nature Center in Easton PA</a></div>
			<img src="/assets/NNC_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.pennypacktrust.org/">Pennypack Ecological Restoration Trust</a></div>
			<img src="/assets/PERT_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://www.outdoors.org/">Appalachian Mountain Club</a></div>
			<img src="/assets/AMC_logo.png" />
			<div class="info"></div>
			</div>

			<div class="sc_member">
			<div class="title"><a href="http://wildlandspa.org/">Wildlands Conservancy</a></div>
			<img src="/assets/WC_logo.png" />
			<div class="info"></div>
			</div>
		</div>	
	</div>

</div>