<div id="membership">
	<div id="form_title">
		<img src="/assets/rails.png" />
		<div class="title">Membership Form </br> <span class="title_desc">Coalition For The Delaware River Watershed</span> </div>
	</div>

	<div class="form_header">
		<b>Mission:</b> The Mission of the Coalition for the Delaware River Watershed is to unite organizations
		and enhance their capacity to effectively advocate for protecting and restoring the Delaware
		River Basin by coordinating communications, messages, and actions and fostering
		accountability for success at the federal, state, and local levels.

		</br>
		</br>

		<b>Who can become a member?</b> Membership is open to all regional, state, local, and national non-
		governmental organizations committed to seeking improved Delaware River Watershed policy
		and protection. There are no membership fees or dues.

		</br>
		</br>
		
		<b>Benefits of membership:</b> The Coalition for the Delaware River Watershed adds value to its
		members through advocacy and policy support, communications assistance, and information
		sharing and networking opportunities. In return, the Coalition leverages the strength and power
		of its members as a collective voice to inform and educate decisionmakers throughout the
		watershed. Activities for members include an annual meeting, press releases, sign-on letters,
		targeted listservs, and other efforts designed to strengthen organizational capacities.

		</br>
		</br>

		<b>How to join:</b> Please sign the statement below, fill out the remaining information, and hit submit.

	</div>

	<div class="form">
		<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDhzeXlWN1k2WkUwTjFBX1FsREdHRWc6MQ" 
		width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
</div>