<div id="page_head">
	<div class="title"> News & Events </div>
</div>

<div id="news">

	<div class="news_items">
		<h1> News </h1>
		<p> The Delaware River Basin Conservation Act is Re-Introduced in the 113th Congress </p>
	</div>

	<div class="events_items">
		<h1> Events </h1>
		<p>The Coalition’s Steering Committee meets monthly via conference calls and in-person meetings.  Calls and meetings are open to all Coalition members.  Upcoming calls and meetings are scheduled for: </p>
		<ul>
			<li>February 27, 2013 (in-person meeting; location TBD)</li>
			<li>March 27, 2013</li>
			<li>April 24, 2013</li>
		</ul>
	</div>

	<p>For more information on participating in Steering Committee meetings, contact <a href="mailto:kim.beidler@njaudubon.org">Kim Beidler</a></p>

	<p>The Coalition’s Annual Meeting is tentatively scheduled for May 15, 2013.  More details coming soon.
	</p>	

</div>
