<div id="steering">	
	<p style="margin-top: 40px; text-align: center;font-size: 24px; font-weight: bold;"> Hello, NJAS! </p>

	<p style="font-style: italic; margin-bottom: 20px;">
		The Coalition is guided by a Steering Committee made up of local, regional and national
		organizations. Steering Committee meetings and conference calls are open to all Coalition
		members. The following organizations are members of the Steering Committee:
	</p>

	</br></br>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.littoralsociety.org/">American Littoral Society</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Tim Dillingham</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.americanrivers.org/">American Rivers</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Laura Craig</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.pennfuture.org/">Citizens for Pennsylvania’s Future</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Joy Bergey</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://delawarenaturesociety.org/">Delaware Nature Society</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Ginger North</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.delawarehighlands.org/">Delaware Highlands Conservancy</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Sue Currier</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.delawareriverkeeper.org/">Delaware Riverkeeper Network</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Maya van Rossum</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.ducks.org/">Ducks Unlimited</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Bernie Marczyk</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://fudr.org/">Friends of the Upper Delaware</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Dan Plummer</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.npca.org/">National Parks Conservation</br>Association</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Cinda Waldbuesser</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.nwf.org/">National Wildlife Federation</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Tony Caligiuria</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://www.njaudubon.org/">New Jersey Audubon Society</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Kelly Mooij</div>
		</div>

		<div class="sc_member">
		<div class="title"><a href="http://delawareestuary.org/">Partnership for the Delaware Estuary</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Jen Adkins</div>
		</div>
	</div>

	<div class="row">
		<div class="sc_member">
		<div class="title"><a href="http://www.pecpa.org/">Pennsylvania Environmental Council</a></div>
		<img src="/assets/rails.png" />
		<div class="info">Representative: Rebecca Kennedy</div>
		</div>
	</div>
</div>