/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	height: 100%;
}

body {
	overflow-y: scroll;	
	height: 100%;
	background: url('/assets/bg.png') repeat-y;
	background-position: center;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
	color: #626C99;
	border-bottom: 1px solid #333;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 1px 1px #111;
}

h2 {
	color: #626C99;
}

p {
	font-size: 14px;
	line-height: 19px;
}

.heading {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

#container {
	width: 1158px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;

	#nav {
		width: 1158px;
		height: 350px;
		margin-top: -12px;
		padding-top: 5px;
		background: #2C7A71;
		box-shadow: 0px 1px #888;

		.navimg {
			margin-top: -2px;
			margin-left: 10px;
			float: left;
		}

		.gradient {
			height: 250px;
			width: 1158px;
		}

		.links_grp {
			float: left;
			margin-top: 5px;
			margin-left: 25px;

			.navlink {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				margin-right: 40px;
				text-shadow: 1px 1px #333;
			}

			.navlink:hover {
				color: #BBBBBB;
			}

			.link_sel {
				color: #BBBBBB;
			}
		}
	}
}

#footer {
	color: #cacaca;
	background: #2C7A71;
	font-size: 13px;
	width: 1158px;
	height: 115px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	a {
		color: #cacaca;
		text-decoration: none;
	}

	a:hover {
		color: #999;
	}
}

