/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	overflow-y: scroll;	
	background: url('/assets/bg_light.png') repeat-y;
	background-position: center;
}

#container {
	width: 1158px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;

	#nav {
		width: 1160px;
		height: 80px;
		margin-top: 40px;
		padding-top: 5px;
		background: #005203;
		box-shadow: 0px 1px #888;

		img {
			height: 80px;
		}

		.links_grp {
			text-align: right;
			margin-top: -35px;

			.navlink {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				margin-right: 40px;
			}

			.navlink:hover {
				color: #cacaca;
			}
		}
	}
}

#footer {
	color: #888;
	width: 300px;
	font-size: 13px;
	position: absolute;
	padding-bottom: 40px;
	margin-top: 100px;
	left: 50%;
	margin-left: -150px;
}

