// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
	padding:50px;

	.img_header {
		width: 1258px;
		margin-left: -50px;
		margin-bottom: 40px;
		margin-top: -50px;
		height: 250px;
		overflow: hidden;
	}

	.heading {
		text-align: center;
	}

	.description {
		font-size: 14px;
		font-style: italic;
		margin-top: 25px;
	}

	.feat_mem {
		float: left;
		margin-top: 40px;
		margin-bottom: 40px;
		width: 500px;
		height: 500px;
		background: #8CBF9E;
		border: 1px solid #555;

		img {
			width: 250px;
			margin-left: 125px;
			border: 1px solid #444;
		}
	}

	.feat_news {
		float: right;
		margin-top: 40px;
		margin-bottom: 40px;
		width: 500px;
		height: 500px;
		background: #8CBF9E;
		border: 1px solid #555;

		img {
			width: 250px;
			margin-left: 125px;
			border: 1px solid #444;
		}
	}
}

#membership {
	padding:50px;

	#form_title {
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		height: 150px;
		width: 700px;

		img {
			width: 100px;
			float: left;
		}

		.title {
			position: relative;
			margin-left: 250px;
			top: 30px;
			width: 400px;
			height: 80px;
			font-size: 28px;
			font-weight: bold;
			text-align: center;

			.title_desc {
				font-size: 18px;
			}
		}
	}

	.form_header {
		margin-top: 50px;
	}

	.form {
		width: 760px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		margin-bottom: 100px;
		border: 1px solid #999;
	}
}

#steering {
	padding:50px;
}

.row {
	height: 235px;
	margin-bottom: 14px;
	text-align: center;

	.sc_member {
		vertical-align: top;
		display: inline-block;
		text-align: center;
		width: 235px;
		height: 223px;
		padding-top: 7px;
		margin-right:15px;
		background: #efefef;
		border: 1px solid #cacaca;


		.title {
			height: 30px;
			line-height: 15px;
			font-size: 14px;
			font-weight: bold;
		}

		img {
			height: 140px;
			width: 140px;
			margin-top: 10px;
			margin-bottom: 10px;
			border: 1px solid #cacaca;
		}

		.info {
			font-size: 12px;
		}
	}
}

#news {
	padding: 50px;
}

#advocacy {
	padding: 50px;

}

#signup {
	padding: 50px;
}