// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
	padding-left:75px;
	padding-right: 75px;
	padding-bottom: 50px;

	.img_header {
		width: 1258px;
		margin-left: -75px;
		margin-bottom: 60px;
		margin-top: -50px;
		height: 250px;
		overflow: hidden;
	}

	.intro {
		margin-bottom: 20px;
		margin-top: 40px;

		.group_photo {
			width: 400px;
			margin-left: 80px;
			border: 1px solid #555;
		}

		.dunes {
			width: 450px;
			margin-top: 10px;
		}
	}

	.featured {
		display: inline-block;
		width: 1040px;
		margin-top: 60px;

		.feat_item {
			height: 450px;
			width: 400px;
			padding: 30px;	
			margin-left: 15px;
			background: #7DA885;
			float: left;
			box-shadow: 2px 2px #999;

			h2 {
				border-bottom: 1px solid #555;
			}

			img {
				width: 400px;
				border: 1px solid #888;
			}
		}
	}
}

#page_head {
	margin-top: 35px;
	margin-left: 35px;

	.title {
		font-size: 38px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
		margin-left: 15px;
		color: #626C99;
		text-shadow: 1px 1px #555;
	}

}

#membership {
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 50px;

	.benefits {
		width: 400px;
		float: left;
	}

	.lists {
		width: 400px;
		font-size: 14px;

		li {
			margin-top: 10px;
		}
	}

	.caption {
		font-size: 11px;
		line-height: 14px;
		font-style: italic;
		width: 475px;
		float: right;
		margin-right: 15px;
	}
	.members {
		margin-top: 80px;

		.row {
			height: 235px;
			margin-left: 40px;
			margin-bottom: 15px;

			.sc_member {
				vertical-align: top;
				display: inline-block;
				text-align: center;
				width: 215px;
				height: 223px;
				padding-top: 7px;
				margin-right:15px;
				background: #CCB081;
				border: 1px solid #000;


				.title {
					height: 30px;
					line-height: 18px;
					font-size: 14px;
					font-weight: bold;
				}

				img {
					height: 140px;
					width: 140px;
					margin-top: 20px;
					border: 1px solid #cacaca;
				}

				.info {
					font-size: 12px;
				}
			}
		}
	}
}

#about {
	padding-left:75px;
	padding-right: 75px;
	padding-bottom: 50px;

	p {
		margin-bottom: 50px;
	}

	.about_info {
		width: 1015px;
		height: 475px;

		.text {
			width: 450px;
			float: left;
		}

		img {
			margin-top: 60px;
		}

		.caption {
			font-size: 11px;
			line-height: 14px;
			font-style: italic;
			width: 475px;
			float: right;
			margin-right: 15px;
			text-align: center;
		}
	}

	.committee{
		margin-top: 60px;
	}

	.sc_member {
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		height: 175px;
		border-bottom: 1px solid #777;

		img {
			float: left;
			height: 140px;
			width: 140px;
			margin-top: 15px;
			margin-bottom: 15px;
			margin-left: 15px;
			border: 1px solid #cacaca;
		}

		.info {
			font-size: 12px;
			margin-left: 15px;
			margin-top: 10px;
			float: left;

			.title {
				line-height: 30px;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

#news {
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 50px;

	.info {
		width: 500px;
		float: left;
	}

	.news_items {
		margin-bottom: 40px;
		width: 1050px;
		height: 300px;
		
		p {
			margin-left: 15px;
		}

		.caption {
			font-size: 11px;
			line-height: 14px;
			font-style: italic;
			width: 400px;
			float: right;
			margin-right: 80px;
			text-align: center;
		}

		img {
			width: 350px;
			margin-left: 100px;
		}
	}

	.events_items {
		margin-bottom: 60px;
		width: 1050px;
		height: 500px;
		p {
			margin-left: 15px;
		}

		ul {
			margin-left: 25px;
			line-height: 19px;
			font-size: 14px;

			li {
				margin-top: 15px;
			}
		}

		img {
			margin-top: 15px;
			margin-left: 100px;
			width: 300px;
		}

		.caption {
			font-size: 11px;
			line-height: 14px;
			font-style: italic;
			width: 400px;
			float: right;
			margin-right: 100px;
			text-align: center;
		}
	}
}

#advocacy {
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 50px;

	.adv_header {
		width: 1015px;
		height: 415px;

		p {
			float: left;
			width: 500px;
		}

		img {
			width: 425px;
			margin-top: 17px;
			margin-left: 80px;
		}

		.caption {
			font-size: 11px;
			line-height: 14px;
			font-style: italic;
			width: 400px;
			float: right;
			margin-right: 22px;
			text-align: center;
		}
	}

	h1 {
		margin-top: 40px;
	}
}

#signup {
	padding: 50px;
	width: 800px;
	height: 840px;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	border: 2px solid #6B5B37;

	h1 {
		margin-top: -20px;
	}

	.form {
		width: 760px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 100px;
	}
}